.container {
  width: 100%;
  max-width: 700px;
  padding: 2rem 1rem;

  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  text-align: center;
}
